/*
  サイト全体にスタイルを適用
*/

:root {
  --color-primary: #4335a7;
  --color-secondary: #80c4e9;
  --color-tertiary: #fff6e9;
  --color-accent: #ff7f3e;
}

body {
  color: var(--color-primary);
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 17px;
  line-height: 1.6;
  background-color: var(--color-tertiary);
  inline-size: min(100% - 1rem, 80ch);
  min-block-size: 100dvh;
  margin-inline: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2 {
  color: var(--color-primary);
  user-select: none;
}

@media (any-hover: hover) {
  button {
    cursor: pointer;
  }
}
