---
import BaseLayout from '../../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "タグ一覧";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0 16px;
  }

  .tag {
    border: dotted 1px #cbdceb;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 16px;
    background-color: #F8FCFD;
  }
</style>