---
import BaseLayout from '../layouts/BaseLayout.astro';
import VoiceInput from '../components/VoiceInput.astro';
import TextDisplay from '../components/TextDisplay.astro';
import SpeechSynthesis from '../components/SpeechSynthesis.astro';
import CopyButton from '../components/CopyButton.astro';
import Alert from '../components/Alert.astro';

const pageTitle = "オトテキ";
---

<BaseLayout pageTitle={pageTitle}>

  <Alert />

  <VoiceInput />

  <TextDisplay />

  <div class="row">
    <div class="col">
      <fieldset class="d-grid gap-3 d-md-flex justify-content-md-end">
        <SpeechSynthesis />
        <CopyButton />
      </fieldset>
    </div>
  </div>

</BaseLayout>