---
import BaseLayout from '../layouts/BaseLayout.astro';
import VoiceInput from '../components/VoiceInput.astro';
import TextDisplay from '../components/TextDisplay.astro';
import SpeechSynthesis from '../components/SpeechSynthesis.astro';
import CopyButton from '../components/CopyButton.astro';

const pageTitle = "音声入力WEBアプリ";
---

<BaseLayout pageTitle={pageTitle}>
  <VoiceInput client:load />

  <TextDisplay />

  <div class="row">
    <div class="col">
      <fieldset class="d-grid gap-3 d-md-flex justify-content-md-end">
        <SpeechSynthesis client:load />
        <CopyButton client:load />
      </fieldset>
    </div>
  </div>

</BaseLayout>