---
---

<div class="alert alert-primary" role="alert">
  音声入力をご利用いただくには、ブラウザのマイク設定を許可してください。
</div>

<style>
  :where(.alert) {
    --bs-alert-bg: rgba(128, 196, 233, .8);
    --bs-alert-color: inherit;
    --bs-alert-border-color: var(--color-secondary);
    --bs-alert-margin-bottom: 2rem;
  }

  .alert-primary {
    border: solid 1px var(--bs-alert-border-color);
    background-color: var(--bs-alert-bg);
  }
</style>
