---
const platform = "Github";
const username = "H-Manny";
---

<footer class="container-md py-4 px-3">
  <div class="row">
    <div class="col">
      <p class="text-center">
        <small>&copy;2025 <a
          href={`https://www.${platform}.com/${username}`}
          target="_blank">{username}</a
        > - 試作版</small>
      </p>
    </div>
  </div>
</footer>

<style>
  footer {
    border-block-start: solid 1px var(--color-secondary);
  }
</style>
