---
import Social from "./Social.astro";

const platform = "github";
const username = "H-Manny";
---

<footer>
  <p>私のプロジェクトについて詳しくは<a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>をご確認ください！</p>

  <div class="footer__inner">
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  </div>
</footer>

<style>
  footer {
    border-block-start: solid 1px #cbdceb;
    padding-block: 16px 32px;
    padding-inline: 16px;
  }

  .footer__inner {
    display: flex;
    gap: 1rem;
    margin-block-start: 2rem;
  }
</style>
