---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---


<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header {
    border-block-end: solid 1px #cbdceb;
    padding: 16px;
  }
</style>
