---
const pageTitle = "オトテキ";
---

<header class="container-md py-4 px-3">
  <div class="row">
    <div class="col">
      <p class="fs-6 title-secondary mb-0">音声入力WEBアプリ</p>
      <h1 class="display-2 fw-bold mb-0">
        { pageTitle }
      </h1>
    </div>
  </div>
</header>

<style>
  header {
    border-block-end: solid 1px var(--color-secondary);
  }
</style>
