---
import ResetButton from './ResetButton.astro';
---

<div class="row">
  <div class="col">

    <div class="my-5">
      <h2 class="mb-3">入力したテキスト</h2>
      <div class="hstack text-display-container rounded p-2 column-gap-3">
        <div id="text-display" class="text-display p-3 flex-grow-1">
          <p class="text-display__output m-0"></p>
        </div>

        <ResetButton />
      </div>
    </div>

  </div>
</div>

<style>
  .text-display-container {
    border: solid 2px var(--color-accent);
    background-color: #fff;
  }
</style>