---
---

<div class="row">
  <div class="col">

    <div class="my-5">
      <h2 class="mb-3">入力したテキスト</h2>
      <div id="text-display" class="text-display rounded w-auto p-3 bg-white">
        <p class="text-display__output m-0"></p>
      </div>
    </div>

  </div>
</div>

<style>
  .text-display {
    border: solid 2px var(--color-accent);
  }
</style>